<%= form_with model: comment, url: path, data: { turbo: false } do |form| %>
  <% if comment.errors.any? %>
    <ul>
      <% comment.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="container2">
    <div class="comments">
      <h3><%= @post.title %>
        <span style="color: blue;"> by </span><span style="color: #5f4c75;"><%= @post.user&.email %></span></h3>
      <div class="form1">
        <%= form.label :comment %>
        <%= form.text_field :content %>
      </div>
      <div class="submit">
        <%= form.submit %>
        <%= link_to 'Cancel', root_path, class: 'btn' %>
      </div>
    </div>
    <div class="back1">
      <%= link_to 'Back', root_path, class: 'btn btn-home', style: 'width:150px;' %>
    </div>
  </div>
<% end %>