<h1>Your Posts</h1>
<div class="add-post"><%= link_to 'Add New Post', new_post_path, class: 'btn btn-success1' %></div>
<div class="container">
  <% @posts.each do |post| %>
    <% if user_signed_in? && post.user == current_user %>
      <div class="clearfix ">
        <h3><%= post.title %></h3>

        <div class="user_disaster">
          <h5><%= post.disasters.pluck(:name).join(',') %></h5>
          <h7>By:<%= post.user&.email %></h7>
        </div>
        <div class="image"><%= image_tag post.image.url if post.image.present? %></div>
        <div class="content"><p><%= post.content %></p></div>
        <div class="address"><p><%= post.address %></p></div>
        <p>
        <div class="buttons">
          <%= link_to 'Show', post_path(post), class: 'btn' %>
          <%= link_to 'Comments ' "#{post.comments_count}", post_comments_path(post), class: 'btn' %>
          <%= link_to 'Add Comment', new_post_comment_path(post), class: 'btn' %>
          <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-warning-edit' %>
          <%= button_to 'Delete', post_path(post), method: :delete, class: 'btn btn-danger-edit' %>
        </div>
        </p>
      </div>
    <% end %>
  <% end %>
</div>
<div class="paginate"><%= paginate @posts %></div>