<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  <style>
      .pagination {
          list-style: none;
          display: flex;
          justify-content: center;
      }

      .pagination li {
          margin: 5px 8px;
      }

      .pagination a {
          padding: 5px 10px;
          border: 1px solid #ccc;
          text-decoration: none;
          color: purple;
          border-radius: 3px;
      }

      .pagination .active a {
          background: linear-gradient(purple, violet, purple);
          border: 1px solid black;
          color: #fff;
      }

      .container {
          display: grid;
          grid-template-columns:70vh 70vh;
      }

      .clearfix {
          margin: 20px;
          border: 1px solid;
          border-color: #371F41;
          background-color: none;
      }


      .image {
          display: flex;
          width: 20vh;
          height: 43vh;
          margin: 5px;
      }

      h3 {
          border: none;
          background-color: #a78bbb;
          text-align: center;
          font-family: arial, sans-serif;

      }

      .create-post {
          border: none;
          background-color: #a78bbb;
          font-family: arial, sans-serif;
      }

      .user_disaster {
          display: grid;
          grid-template-columns: 300px 280px;
      }

      h7 {
          border: none;
          text-align: center;
          font-family: arial, sans-serif;

      }

      h5 {
          margin-left: 20px;
          font-family: Ravier;
          color: #825991;
      }

      .content {
          font-family: arial, sans-serif;
          text-align: justify;
          margin: 10px;
      }

      .address {
          font-family: arial, sans-serif;
          text-align: justify;
          margin: 10px;
      }

      .btn {
          border: 1px solid;
          background-color: #825991;
          color: white;
      }

      .buttons {
          display: flex;
          justify-content: right;
          align-items: center;
      }

      .hot {
          color: red;
      }

      h1 {
          color: #371F41;
          text-align: center;
      }

      .container1 {
          display: grid;
          width: 70vh;
          height: 85vh;
      }

      .container2 {
          display: grid;
          width: 70vh;
          height: 40vh;
      }

      .container3 {
          display: grid;
          width: 100vh;
          height: 105vh;
      }

      .comments {
          margin: 20px;
          border: 1px solid;
          border-color: #371F41;
          background-color: none;
      }

      .container-comments {
          align-items: center;
          justify-content: center;
          display: grid;
          grid-template-columns:40vh 8vh 8vh 4vh;
      }

      .btn-edit {
          width: 70px;
          height: 37px;
      }

      .btn-home {
          width: 70px;
          height: 37px;
      }

      .btn-add-com {
          width: 140px;
          height: 37px;
      }

      .btn-success {
          width: 150px;
          height: 37px;
      }

      .btn-danger {
          width: 70px;
          height: 37px;
      }

      .comments-border {
          margin: 20px;
          border: 1px solid;
          border-color: #371F41;
          background-color: none;
      }

      .created_at {
          font-family: comics Font;
          text-align: right;
          font-style: italic;
      }

      .add-comment {
          text-align: center;
          margin: 20px;
      }

      .post-container {
          align-items: center;
          justify-content: center;
          display: grid;
          grid-template-columns:20vh 17vh 8vh;
      }

      .form1 {
          text-align: center;
          margin: 50px;
      }

      .submit {
          text-align: right;
          margin-right: 50px;
      }

      .submit1 {
          text-align: right;
          margin-right: 30px;
          margin-top: 10px;
          margin-bottom: 10px;
      }

      .back1 {
          text-align: left;
      }

      .btn-warning-edit {
          background-color: blue;
      }

      .btn-danger-edit {
          background-color: red;
      }

      .add-post {
          text-align: center;
          background-color: #9F149F;
      }

      .btn-success1 {
          background-color: #a78bbb;
      }

      .container4 {
          display: grid;
          width: 70vh;
          height: 50vh;
      }

      .container5 {
          display: grid;
          width: 40vh;
          height: 40vh;
      }

      .container6 {
          display: grid;
          width: 40vh;
          height: 33vh;
      }


      .body {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }

      .form2 {
          text-align: left;
          margin: 20px;
          justify-items: left;
      }

      .label {
          font-family: script;
          font-size: 1.3em;
          color: #6d008a;
      }

      .posts {
          border: 1px solid;
          border-color: #371F41;
      }

      .box {
          display: grid;
          grid-template-columns:40vh 10vh;
          background-color: #e8c8ff;

      }

      .letterU {
          margin-top: 7px;
          color: #5f0069;
      }

      .letterC {
          font-family: broadway;
          margin-left: 5px;
      }
  </style>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"><span style="color: red;">Disaster</span><span style="color: #371F41;">Info</span>rmation</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: "nav-link #{'active' if action_name == 'index' }", 'aria-current': 'page' %>
        </li>
        <li class="nav-item">
          <%= link_to 'My Post', user_posts_path, class: "nav-link #{'active' if action_name == 'posts' }", 'aria-current': 'page' if user_signed_in? %>
        </li>
        <li class="nav-item">
          <%= link_to 'My Comment', user_comments_path, class: "nav-link #{'active' if action_name == 'posts' }", 'aria-current': 'page' if user_signed_in? %>
        </li>
        <li class="nav-item">
          <% if user_signed_in? %>
            <%= link_to 'Sign Out', destroy_user_session_path, data: { 'turbo-method': :delete }, class: "nav-link #{'active' if action_name == 'sign in' }", 'aria-current': 'page' %>
          <% else %>
            <%= link_to 'Sign In', new_user_session_path, class: "nav-link #{'active' if action_name == 'sign in' }", 'aria-current': 'page' %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<% if flash[:notice] %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if flash[:alert] %>
  <p class="alert"><%= alert %></p>
<% end %>
<%= yield %>

</body>
</html>
